.loginScreen {
    text-align: center;
    color: ghostwhite;
}

.loginScreenFooter {
    top: 90%;
    position: fixed;
    left: 40%;
    opacity: 0.6;
}

#rfidInput:focus {
    outline-width: 0;
}
