.loginScreen {
    text-align: center;
    background-color: #1b4f72;
    color: ghostwhite;
}

.loginScreenFooter {
    top: 90%;
    position: fixed;
    left: 80%;
}

.rfidIdHidden {
    display: none;
}